<%- include("partials/header") %>
<%- include("partials/footer") %>

    <div class="todo-container">
        <h2>Todo App</h2>
        <h3>List todo</h3>
        <div class="btn">
            <a href="/newtodo" class="btn">New Todo</a>
            <div class="todo-table">
                <table>
                     <tr>
                        <th>Todo Title</th>
                        <th>Todo Description</th>
                        <th>Created On</th>
                        <th>Updated On</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                    <% for(let i=0; i<(todos.length); i++){ %>
                    
                    
                    <td><%=todos[i].title %></td>
                    <td><%=todos[i].description %></td>
                    <td><%=todos[i].createdAt %></td>
                    <td><%=todos[i].updatedAt %></td>
                     <td>
                         <a class="btn" href="/updatetodo">Update</a>
                         <a class="btn" href="/deletetodo">Delete</a>
                    </td>
                     </tr>
                        <% 
                        } %>
                </table>   
            </div>
        </div>
    </div>
