<%- include("partials/header") %>
<%- include("partials/footer") %>

        <div class="todo-container">
           <div class="header">
            <h2 class="todo-title">Update Todo</h2>
            <a class="back-btn" href="/">Back</a>
             </div >
             <form action="/updatetodo/<%= todo._id %>" method="post">
            <div class="form-group">
                <label for="title">Enter todo title</label>
                <br/>
                <input
                placeholder="Enter todo input here" 
                type="text" 
                name="title"
                value="<%= todo.title %>"/>
            </div>
            <div>
                <label for="description">Enter todo description</label>
                 <br/>
                <input 
                placeholder="Enter todo description here" 
                type="text" name="description" 
                value="<%= todo.description %>"/>
             </div>
             <div><button type="submit"> Save</button></div>
             
        </form>
      </div>
